section.intro.text-center
  h2.title Nutrition Done Differently
  p.subtitle A nutrition program without the BS. Meet Bounce, an online program that simplifies nutrition to help you build healthier habits and feel confident in your skin.

section.new-way.text-center
  h2.title A New Way To…
  p.subtitle A new way to be the healthiest, happiest version of you, minus the stress of today’s diet culture:
  .feature
    .feature-item
      figure
        img(src="images/restric.png")
      .title-small No restrictive diets
      .subtitle A balanced and sustainable approach to eating
    .feature-item
      figure
        img(src="images/restric.png")
      .title-small No restrictive diets
      .subtitle A balanced and sustainable approach to eating
    .feature-item
      figure
        img(src="images/restric.png")
      .title-small No restrictive diets
      .subtitle A balanced and sustainable approach to eating
    .feature-item
      figure
        img(src="images/restric.png")
      .title-small No restrictive diets
      .subtitle A balanced and sustainable approach to eating
section.info
  figure
    img(src="images/Marika.png")
  .info-box
    .title Hi, I’m Marika Day
    .content Health is so much more than green juices, counting calories and trying to fit into societal standards of beauty. After spending 7 years working in the nutrition industry advocating and educating for a new approach to health, I decided to create a program that brought that vision directly to you. I’ve teamed up with AIA Vitality to bring you an online nutrition program that is balanced, realistic and sustainable.  Bounce is here to help you take control of your wellbeing, create healthier habits, and feel confident in your skin.
    button.button-large  ABOUT MARIKA
section.parner.text-center.intro
  h2.title In Partnership With
  figure
    img(src="images/parner.png")
  p.subtitle Bounce is working in partnership with AIA Vitality, Australia’s leading health and life insurer to support you on your journey to a healthier, longer, better life.


