#footer
        ul.footer-wrap
                li.footer-item.sign-up
                        h2.footer-title Stay Connected
                        ul.menu
                                li.menu-item Sign up for exclusive emails, promotions, free recipes and no BS nutrition chat with Marika.
                                button.sign-up Sign Up
                li.footer-item.about
                        h2.footer-title About
                        ul.menu
                                li.menu-item
                                        a About
                                li.menu-item
                                        a Podcast
                li.footer-item.program
                        h2.footer-title Program
                        ul.menu
                                li.menu-item
                                        a Food
                                li.menu-item
                                        a Mind
                                li.menu-item
                                        a Food
                                li.menu-item
                                        a Hub
                li.footer-item.support
                        h2.footer-title Support
                        ul.menu
                                li.menu-item
                                        a FAQs
                                li.menu-item
                                        a Contact
                li.footer-item.social
                        .logo
                                img(src="images/logo-white.png", alt="logo")
                        ul.list-social
                                li.social-item
                                        img(src="images/fb.png", alt="logo")
                                li.social-item
                                        img(src="images/tw.png", alt="logo")
                                li.social-item
                                        img(src="images/insta.png", alt="logo")
                        .menu-item.copy-right © 2021 Marika Day
