header.header-wapper
  .header-main
    .logo
      img(src="images/logo.png", alt="logo")
    .main-menu
      ul
        li.about
          a About
        li.program
          a Program
        li.podcast
          a Podcast
        li.login
          a LOGIN
        li.trial
          a Start 14 days free
  img(src="images/video.png", width="100%", height="700px")
  img.button-play(src="images/play.png", width="120px", height="120px")
